*{
	margin: 0;
	padding: 0;
}
.container{
	width: 1200px;
	margin: 0 auto;
}
.header{
	background-color: #EEE;
	padding: 10px 0 0 0;
}
.logo, .nav{
	text-align: center;
	padding: 10px 0;
}
.nav>ul{
	list-style: none;
	/*overflow: auto;*/
	width: 600px;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
}
.nav>ul>li>a{
	float: left;
	width: 120px;
	text-align: center;
	border-bottom: 2px solid #EEE;
	text-decoration: none;
	color: black;
}
.nav>ul>li>a:hover{
	border-bottom-color: #CC3300;
}
.main-body{
	margin: 15px 0;
}
.top-div, .bottom-div{
	height: 250px;
	margin-bottom: 15px;
}
.top-div{
	background-color: #33CCFF;	
}
.bottom-div{
	/*overflow: auto;*/
}
.section1, .section2, .section3{
	height: 250px;
	width: 390px;
	float: left;
}
.section1{
	background-color: red;
}
.section2{
	background-color: green;
	margin: 0 15px;
}
.section3{
	background-color: blue;
}

.footer{
	text-align: center;
	background-color: #EEE;
	padding: 10px 0;
}
